In [ ]:
def s(a, b):
  return a+b

s(2, 3)

5

In [ ]:
def avg(*numbers: float) -> float:
  """нахождение среднее арифметическое"""
  s = 0
  for number in numbers:
    s += number
  return s/len(numbers)

avg(1, 2, 3, 4)

2.5

In [ ]:
s = lambda a,b : a+b
s(2, 3)

5

In [ ]:
s = lambda *numbers : sum(numbers) / len(numbers)
s(1, 2, 3, 4)

2.5

In [ ]:
numbers = list(map(int, input("Введите числа").split()))
print(numbers)
new_numbers = list(filter(lambda number : number % 2 == 0, numbers))
new_numbers

Введите числа1 2 3 4 5
[1, 2, 3, 4, 5]

[2, 4]

In [ ]:
numbers = list(map(int, input("Введите числа").split()))
print(numbers)
new_numbers = list(map(lambda number : number * 2, numbers))
new_numbers

Введите числа1 2 3 4 5
[1, 2, 3, 4, 5]

[2, 4, 6, 8, 10]

In [ ]:
from functools import reduce
numbers = list(map(int, input("Введите числа").split()))
s = reduce(lambda x, y: x + y, numbers)
s

Введите числа1 2 3 4

10

In [ ]:
from functools import reduce
numbers = list(map(int, input("Введите числа").split()))
s = reduce(lambda x, y: x + y, numbers)/ len(numbers)
s

Введите числа1 2 3 4

2.5

In [ ]:
people = dict()
str_d = ""
while str_d != "0" :
  str_d = input()
  student, *marks = str_d.split()
  people[student] = marks
people

Иванов 90 80 79 63
Петров 25 76 12 54
0

{'Иванов': ['90', '80', '79', '63'],
 'Петров': ['25', '76', '12', '54'],
 '0': []}

Пользователь вводит слова через пробел. Вывести список с длинами этих строк (используй map)

In [ ]:
words = list(input("Введите слова").split())
new_words = list(map(lambda word: len(word), words))
new_words

Введите словамама папа слон

[4, 4, 4]

Написать функцию biggerThan(numbers, n), которая бы возвращала список чисел из numbers, больших чем n (lambda и filter)

In [ ]:
def biggerThan(numbers, n):
  numbers = list(filter(lambda number: number > n, numbers))
  return numbers
biggerThan([1, 2, 3, 4, 5], 3)

[4, 5]